@model List<AppVetements.Models.Produit>
<a href="/Admin/Index" class="btn btn-dark mb-3">
    <i class="bi bi-arrow-left"></i> Retour Dashboard
</a>
<h2>Liste des Produits</h2>
<a href="/Produit/Ajouter" class="btn btn-success mb-3">+ Ajouter un produit</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(p.ImageProduit))
                    {
                        <img src="@p.ImageProduit" width="60" height="60" style="object-fit:cover;" />
                    }
                </td>
                <td>@p.NomProduit</td>
                <td>@p.Prix FCFA</td>
                <td>@p.Stock</td>
                <td>@p.Categorie?.NomCategorie</td>
                <td>
                    <a href="/Produit/Modifier/@p.ID" class="btn btn-warning btn-sm">✏️ Modifier</a>
                    <a href="/Produit/Supprimer/@p.ID" class="btn btn-danger btn-sm"
                       onclick="return confirm('Supprimer ce produit ?')">🗑️ Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>